@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Playfair Display;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas: "nav     nav" "header  header" "main    main" "footer  footer";
}
body main {
  grid-area: main;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #D67504;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 2;
  padding: 10px;
  font-size: 20px;
}
@media screen and (min-width: 886px) {
  nav {
    height: 100px;
  }
}
nav .logo {
  padding: 5px 20px;
}
nav #check {
  display: none;
}
nav #check:checked ~ ul {
  height: 100vh;
}
nav #check:checked ~ ul li {
  display: block;
}
nav .checkbtn {
  font-size: 25px;
  color: black;
  margin: 5px 25px 5px 5px;
}
@media screen and (min-width: 886px) {
  nav .checkbtn {
    display: none;
  }
}
nav ul {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 120px;
  background: #D67504;
  text-align: center;
  transition: all 0.2s;
  list-style-type: none;
  margin-left: -10px;
}
@media screen and (min-width: 886px) {
  nav ul {
    position: relative;
    height: 100px;
    top: -100px;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
}
nav ul li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}
@media screen and (min-width: 886px) {
  nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 5px 20px;
    transition: none;
  }
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
nav ul li a.active, nav ul li a:hover {
  color: #3E403E;
  transition: #3E403E;
}
@media screen and (min-width: 886px) {
  nav ul li a {
    font-size: 20px;
  }
}

header {
  background: url(../img/header_prim.jpg) right;
  background-size: cover;
  width: 100%;
  height: 36vw;
  display: flex;
  margin-bottom: 110px;
  position: relative;
  z-index: 1;
  top: 110px;
  grid-area: header;
}

footer {
  grid-area: footer;
  background-color: black;
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .redes {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
footer .redes a {
  margin: 15px;
}
footer .redes a i {
  font-size: 30px;
  color: #D67504;
}
footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
footer .copyright p {
  color: white;
  text-align: center;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #D67504;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: #D9AE5F;
  color: black;
}

#indextarj {
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#indextarj .titulos2 {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: clamp(15px, 5vw, 20px);
}
#indextarj #tarj {
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  #indextarj #tarj {
    flex-direction: column;
  }
}

.nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nosotros .nos {
  display: flex;
  width: 840px;
  height: 420px;
  padding: 20px;
  margin: 10px;
  justify-content: center;
  background-color: #C2C0A6;
  border-radius: 5px;
}
@media (max-width: 830px) {
  .nosotros .nos {
    width: 350px;
    height: auto;
    flex-direction: column;
  }
}
@media (max-width: 440px) {
  .nosotros .nos {
    width: 270px;
  }
}
.nosotros .nos .nos__img {
  width: 100%;
}
.nosotros .nos .nos__texto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 15px;
}
.nosotros .nos .nos__texto .nos__titulo {
  display: flex;
  text-decoration: underline;
  margin: 8px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: clamp(25px, 5vw, 40px);
}
.nosotros .nos .nos__texto p {
  font-size: 16px;
  text-align: justify;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tarjetas .titulos {
  display: flex;
  background-color: #FFBD40;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}
.tarjetas .prod {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  border: 5px double;
  margin: 10px 20px;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
}
.tarjetas .prod .prod__img {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.tarjetas .prod .prod__titulo {
  text-align: center;
  font-size: 18px;
}
.tarjetas .prod .prod__precio {
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

.his {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.his .historia {
  display: flex;
  justify-content: center;
  background-color: #C2C0A6;
  width: 1200px;
  height: 620px;
  padding: 20px;
  margin: 20px;
  gap: 10px;
  border-radius: 5px;
}
@media (max-width: 1210px) {
  .his .historia {
    flex-direction: column;
    height: auto;
  }
}
.his .historia .historia__img {
  width: 100%;
}
.his .historia .historia__texto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 15px;
}
.his .historia .historia__texto .historia__titulo {
  display: flex;
  align-content: center;
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
  font-size: clamp(25px, 5vw, 40px);
}
.his .historia .historia__texto p {
  text-align: justify;
  font-size: clamp(15px, 5vw, 18px);
}

.tiposte {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiposte .tipos {
  height: 650px;
  width: 91%;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background: #C2C0A6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "zt zt zt zt" "z1 z2 z3 z4";
}
.tiposte .tipos:nth-child(2) {
  grid-area: z1;
}
.tiposte .tipos:nth-child(3) {
  grid-area: z2;
}
.tiposte .tipos:nth-child(4) {
  grid-area: z3;
}
.tiposte .tipos:nth-child(5) {
  grid-area: z4;
}
@media (max-width: 1146px) {
  .tiposte .tipos {
    width: 650px;
    height: 1160px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr;
    grid-template-areas: "zt zt" "z1 z2" "z1 z2" "z3 z4" "z3 z4";
  }
}
@media (max-width: 694px) {
  .tiposte .tipos {
    width: 380px;
    height: 2300px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr;
    grid-template-areas: "zt" "z1" "z1" "z2" "z2" "z3" "z3" "z4" "z4";
  }
}
@media (max-width: 438px) {
  .tiposte .tipos {
    width: 320px;
    height: 2500px;
    grid-template-rows: 160px 1fr 1fr 1fr 1fr;
  }
}
.tiposte .tipos .tipostitulo {
  grid-area: zt;
  display: flex;
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
  text-align: center;
  justify-self: center;
  align-self: center;
  gap: 10px;
  font-size: clamp(25px, 5vw, 40px);
}
.tiposte .tipos .tiposcard {
  display: flex;
  margin: 5px;
  justify-self: center;
  align-self: center;
}
.tiposte .tipos .tiposcard .tiposcontenedor {
  height: 500px;
  margin: 10px;
  overflow: hidden;
}
.tiposte .tipos .tiposcard .tiposcontenedor:hover {
  cursor: pointer;
}
.tiposte .tipos .tiposcard .tiposcontenedor:hover .contenidotipos {
  height: 240px;
  bottom: 240px;
  background: rgba(27, 27, 27, 0.5);
}
.tiposte .tipos .tiposcard .tiposcontenedor:hover .contenidotipos p {
  opacity: 1;
  visibility: visible;
}
.tiposte .tipos .tiposcard .tiposcontenedor .imgtes {
  height: 500px;
  width: 230px;
  border-radius: 5px;
}
.tiposte .tipos .tiposcard .tiposcontenedor .contenidotipos {
  height: 70px;
  width: 230px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  bottom: 65px;
  background: rgba(27, 27, 27, 0.5);
  color: white;
  transition: 0.9s;
}
.tiposte .tipos .tiposcard .tiposcontenedor .contenidotipos h2 {
  margin: 10px;
  font-size: 40px;
  text-align: center;
}
.tiposte .tipos .tiposcard .tiposcontenedor .contenidotipos p {
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.PaqRegalo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.PaqRegalo .regalo {
  display: flex;
  justify-content: center;
  background-color: #C7C5BF;
  width: 1000px;
  height: 400px;
  padding: 20px;
  margin: 10px;
  gap: 10px;
  border-radius: 5px;
}
@media (max-width: 970px) {
  .PaqRegalo .regalo {
    flex-direction: column;
    height: auto;
  }
}
.PaqRegalo .regalo .regalo__img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 970px) {
  .PaqRegalo .regalo .regalo__img {
    width: 100%;
  }
}
.PaqRegalo .regalo .regalo__img2 {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 970px) {
  .PaqRegalo .regalo .regalo__img2 {
    width: 100%;
  }
}
.PaqRegalo .regalo .regalo__texto {
  display: grid;
  grid-template-rows: 140px 40px 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "zt" "zp" "zc" "zb";
  justify-self: center;
  align-self: center;
  margin: 0px 15px;
  width: 550px;
  gap: 10px;
}
@media (max-width: 675px) {
  .PaqRegalo .regalo .regalo__texto {
    width: 300px;
  }
}
@media (max-width: 380px) {
  .PaqRegalo .regalo .regalo__texto {
    width: 220px;
  }
}
.PaqRegalo .regalo .regalo__texto .regalo__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  margin-top: 5px;
  padding: 10px;
  font-size: clamp(30px, 5vw, 40px);
  grid-area: zt;
}
.PaqRegalo .regalo .regalo__texto .regalo__precio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  height: 20%;
  grid-area: zp;
}
.PaqRegalo .regalo .regalo__texto .regalo-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  grid-area: zc;
}
.PaqRegalo .regalo .regalo__texto .btn {
  grid-area: zb;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formulario .form {
  width: 900px;
  background-color: #C2C0A6;
  margin: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f 1f 1f 1f;
  grid-template-areas: "z1 z2" "z3 z3" "z4 z5" "z6 z6";
}
@media (max-width: 700px) {
  .formulario .form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1f 1f 1f 1f 1f 1f;
    grid-template-areas: "z1 z1" "z2 z2" "z3 z3" "z4 z4" "z5 z5" "z6 z6";
  }
}
.formulario .form label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.formulario .form .form__name {
  grid-area: z1;
  font-size: 25px;
}
.formulario .form .form__email {
  grid-area: z2;
  font-size: 25px;
}
.formulario .form legend {
  grid-area: z3;
  margin: 10px;
  font-size: 25px;
}
.formulario .form .form__select {
  grid-area: z4;
  padding: 5px;
  width: 95%;
  margin-left: 10px;
  font-size: 15px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #D67504;
}
.formulario .form .form__msj {
  grid-area: z5;
  width: 90%;
}
@media (max-width: 700px) {
  .formulario .form .form__msj {
    width: 92%;
  }
}
.formulario .form button:nth-child(6) {
  grid-area: z6;
  justify-self: center;
  width: 30%;
  margin-top: 20px;
}

.form__box, .form__msj {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #D67504;
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
  width: 95%;
  justify-self: center;
  align-self: center;
}

.contacto {
  font-size: 20px;
  margin: 15px;
  font-style: italic;
}