.his{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.historia{
    display: flex;
    justify-content: center;
    background-color: #C2C0A6;
    width: 1200px;
    height: 520px;
    padding: 20px;
    margin: 20px;    
    gap: 10px;
    border-radius: 5px;
}

.historia__img{
    width: 100%;
}

.historia__texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.historia__titulo{
    align-content: center;
    text-decoration: underline;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
}
.historia__texto{
    font-size: 18px;
}

@media (max-width:1154px){
    .historia{
        flex-direction: column;
        height: 1460px;
    }
}

@media (max-width:1102px){
    .historia{
        height: 1360px;
    }
}

@media (max-width:962px){
    .historia{
        height: 1260px;
    }
}
@media (max-width:872px){
    .historia{
        height: 1190px;
    }
}
@media (max-width:778px){
    .historia{
        height: 1130px;
    }
}
@media (max-width:672px){
    .historia{
        height: 1090px;
    }
}
@media (max-width:466px){
    .historia{
        height: 1150px;
    }
}
@media (max-width:416px){
    .historia{
        height: 1190px;
    }
}
@media (max-width:368px){
    .historia{
        height: 1280px;
    }
}
@media (max-width:354px){
    .historia{
        height: 1380px;
    }
}