.his{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .historia{
        display: flex;
        justify-content: center;
        background-color: #C2C0A6;
        width: 1200px;
        height: 550px;
        padding: 20px;
        margin: 20px;    
        gap: 10px;
        border-radius: 5px;
        @media (max-width:1210px){
            flex-direction: column;
            height: auto;
        }
        .historia__img{
            width: 100%;
        }
        .historia__texto{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px 15px;
            font-size: 18px;
            .historia__titulo{
                display: flex;
                align-content: center;
                text-align: center;
                text-decoration: underline;
                padding: 10px;
                margin: 10px;
                font-size: 40px;
            }
        }
    }
}
