.nosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .nos{
        display: flex;
        width: 840px;
        height: 420px;
        padding: 20px;
        margin: 10px;    
        justify-content: center;
        background-color: #C2C0A6;
        border-radius: 5px;
        @media (max-width: 830px){
            width: 350px;
            height: auto;
            flex-direction: column;        
        }
        @media (max-width: 440px){
            width: 270px;
        }
        .nos__img{
            width: 100%;
        }
        .nos__texto{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px 15px;
            .nos__titulo{
                display: flex;
                text-decoration: underline;
                margin: 8px;
                padding: 0px 20px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: clamp(25px, 5vw, 40px);
            }
            p{
                font-size: 16px;
                text-align: justify;
            }
        }
    }
}